doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title The Modern Pet
  link(rel='icon' href='images/icon.png' type='image/icon type')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet' href='style.css')

  // Project Local CSS
  link(rel='stylesheet' href='css/style.css')
#container
  header
    .main-header
      .logo
        img(src='images/logo-small-2.png' alt='Modern Pet')
      nav.main-menu.navbar.navbar-expand-lg.navbar-light
        .container-fluid.navbarContent
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/') Home
              li.nav-item
                a.nav-link(href='/') About
              li.nav-item
                a.nav-link(href='contact') Contact Us
              a.nav-item.btn.btn-info(href='register') Register/Sign In
div
#bottomHeader
  a(href='#')
    p CLICK HERE FOR 25% off!
// REGISTER
.contact
  .contactinfo
    include form.pug
.contact
  .contactinfo
    .login
      a.btn.btn-info.form-control(href='login') Log In into your Account
// ABOUT US
#aboutDiv
  #contact-b
  h1 ABOUT US
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas, odio ac sollicitudin efficitur, eros mauris malesuada ante, sit amet aliquet turpis ligula eu dui. Duis finibus leo quis lobortis cursus. Quisque fermentum urna at lacus pharetra convallis. Praesent erat ipsum, facilisis eget finibus nec, placerat in felis. Suspendisse tellus diam, congue et elementum ut, posuere congue augue. Maecenas ultrices eleifend commodo. Quisque quis turpis a dui suscipit viverra sed in velit. Vestibulum diam purus, pretium ut dui ultrices, gravida imperdiet tortor. Cras vel lorem lectus. In purus ipsum, viverra at convallis sit amet, pharetra at leo.

// FOOTER
footer.footer
  .logoFooter.col.col-12.col-md-3
    img(src='images/logo-small-2.png' alt='Modern Pet')
  .footerR
    .row
      .col.col-12.col-md-3
        h5 MAIN MENU
        ul.list-unstyled.f_list
          li
            a(href='/') Home
          li
            a(href='/') About
          li
            a(href='/contact') Contact Us
      .col.col-12.col-md-3
        h5 LOCATION
        ul.list-unstyled.f_list
          li
            a(href='https://goo.gl/maps/hqacjYqXwNDhgL8E7' target='_blank') South Orlando
          li
            a(href='https://goo.gl/maps/18rCxBk2LYeWNrL49' target='_blank') Alafaya
          li
            a(href='https://goo.gl/maps/vjVeq4CyDi4SPZEs9' target='_blank') Downtown
      .col.col-12.col-md-3
        h5 FOLLOW US!
        .row.text-center.socialbottom
          .col-12.col-md-3
            a.fa.fa-instagram(href='https://www.instagram.com/explore/tags/puppies/?hl=en' target='_blank')
          br
          br
          .col-12.col-md-3
            a.fa.fa-twitter(href='https://twitter.com/search?q=puppies&src=typed_query' target='_blank')
          br
          br
          .col-12.col-md-3
            a.fa.fa-facebook(href='https://m.facebook.com/search/videos/?q=%23puppies&source=filter&isTrending=0' target='_blank')
          br
          br
    .copy.col-sm-4
      .copy &copy; Copyright 2020 : modernpet.com
        p
          | Website developed and designed by 
          a(href='http://rebecatino.co' target='_blank') Rebeca Tinoco

div 
// External Files/Links
// Font Awesome
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
// Bootstrap CSS
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
// JQuery
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
// Popper
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
// End of External Files/Links
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
