header {
  background-size: 1500px;
  height: 150px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header  img {
  width: 220px;
  margin: 0.5em 2em;
  float: left;
}
.main-header {
  background: rgb(148,90,42);
  background: linear-gradient(90deg, rgba(148,90,42,1) 18%, rgba(99,78,151,1) 63%, rgba(122,177,94,1) 100%);
  width: 100%;
  min-height: 100px;
  height: 180px;
}
.buttonR {
  border-radius: 20%;
  margin: 0 0 0 4em;
}
.buttonP {
  border-radius: 20%;
}
nav {
  float: right;
  margin: 3em 3em 0 0;
}
.nav-item {
  font-weight: bolder;
}
#bottomHeader {
  margin-top: 30px;
  text-align: center; 
  height: 30px;
  background-color: rgba(199,199,199,60%);
  font-size: medium;
  font-weight: 500;
  border-top-style: dashed;
  border-top-color: #b6b6b6;
  text-decoration: none;
}
#bottomHeader a:link, a:visited,  a:hover, a:active
{
  color:midnightblue;
  text-decoration: none;
}

.main-wrapper h1 {
  text-align: center;
  padding: 1em;
}
#vue {
  margin: auto;
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 2em;

}
#images {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#images img {
  height: 100px;
}

#images .desc {
  font-size: small;
}

#images .leg {
  font-size: medium;
}

#aboutDiv {
  text-align: center;
}
#aboutDiv p {
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
}

.thankyou {
  text-align: center;
  margin: 200px;
}
.welcome {
  text-align: center;
  margin: 200px;
}
.logout {
  text-align: center;
  margin: 200px;
}
.login {
  text-align: center;
  margin: 100px;
}
.listing-reg h1 {
  text-align: center;
  margin: 0 0 2rem;
}
.title h3 {
  text-align: center;
  margin: 20px;
}
/* css for registration form and errors*/
.form-registration {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-registration {
  display: flex;
  flex-wrap: wrap;
}
.form-registration input {
  width: 100%;
  margin: 0px 0 10px;
}
.form-registration .btn {
  flex: 1 0 100%;
}
.my-errors {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: #333;
  font-size: 1.2rem;
  display: table;
}
.my-errors li {
  margin: 0 0 1rem;
}
.my-errors li:before {
  content: "! Error : ";
  color: #f00;
  font-weight: bold;
}

/* Styles for listing table */
.listing-table {
  width: 100%;
}
.listing-table th,
.listing-table td {
  padding: 10px;
  border-bottom: 1px solid #666;
}
.listing-table th {
  background: #000;
  color: #fff;
}
.listing-table td:first-child,
.listing-table th:first-child {
  border-right: 1px solid #666;
}

.thank {
  margin: auto;
  width: 10%;
  padding-top: 300px;
  font-weight: bolder;
  text-align: center;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(215,215,215,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}


/* /-------------------- CONTACT --------------------------/ */
.contact {
  width: 50%;
  text-align: left;
  margin: auto;
  margin-top: 2em;
  background: linear-gradient(90deg, rgba(148,90,42,1) 18%, rgba(99,78,151,1) 63%, rgba(122,177,94,1) 100%);
}

.contactinfo {
  margin: 0.2rem;
  margin-top: 20px;
  background: #fff;
  margin-top: 2rem;
  margin-bottom: 50px;
  padding: 1rem;
  padding-left: 4rem;
}
.contactinfo legend {
  text-align: center;
  padding-bottom: 1em;
  font-weight: bold;
}

#butt {
  padding-top: 1em;
}


/* /-------------------- FOOTER --------------------------/ */
footer {
  background: rgb(148,90,42);
  background: linear-gradient(90deg, rgba(148,90,42,1) 18%, rgba(99,78,151,1) 63%, rgba(122,177,94,1) 100%);
  width: 100%;
  height: auto;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}
footer .logoFooter img {
  width: 180px;
  margin: 0.5em 2em;
  float: left;
}

.footerR {
  float: right;
  padding-top: 1em;

}

.footer_link {
  display: inline-block;
}


#contact-b {
  border-top: 1px rgb(199, 197, 197) solid;
  border-bottom: 1px rgb(199, 197, 197) solid;
  text-align: center;
  margin: auto;
  width: 80%;
  margin-bottom: 2em;

}

#contact-n {
  text-align: center;
  display: grid;
  margin-top: 1em;
  float: right;
  display: inline;
}

#contact-n ul {
  list-style-type: none;
  padding: 1em;
  display: inline-block;
}

#contact-n ul li {
  font-weight: bold;
  color: rgb(88, 83, 83);
}

#contact-n ul a {
  color: rgb(103, 103, 103);
  text-decoration: underline;
  font-weight: lighter;
}

.ft {
  padding-left: 20px;
  text-decoration: underline;
  color: dimgray;
  font-weight: bold;
  font-size: small;
}

footer .social .fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 50%;
  padding-right: 28px;
}

footer .social .fa:hover {
  opacity: 0.7;
}

footer .social .fa-linkedin {
  background: #007bb5;
  color: white;
}

footer .social .fa-instagram {
  background: #125688;
  color: white;
}

footer .social .fa-twitter {
  background: #55acee;
  color: white;
}

.fa-yelp {
  background: #cb2027;
  color: white;
}

footer .social .fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

footer .social {
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
  padding-bottom: 30px;

}

footer .ft1 {
  display: flex;
  justify-content: flex-start;
  padding-left: 70px;
  padding-bottom: 50px;
  color: rgb(74, 71, 71) !important;
}

footer .copy {
  text-align: center;
  padding-top: 300px;
}